---
import Java from "../components/icons/Java.astro";
import Android from "../components/icons/AndroidStudio.astro";
import Firebase from "../components/icons/Firebase.astro";
import MySql from "../components/icons/Mysql.astro";
import Css from "../components/icons/Css.astro";
import JavaScript from "../components/icons/Javascript.astro";
import Html from "../components/icons/Html.astro";

const TAGS = {
  JAVA: {
    name: "Java",
    class: "bg-gray-900 text-gray-200 ",
    icon: Java,
  },
  ANDROID: {
    name: "Android",
    class: "bg-gray-900 text-gray-200 ",
    icon: Android,
  },
  FIREBASE: {
    name: "Firebase",
    class: "bg-gray-900 text-gray-200 ",
    icon: Firebase,
  },
  MYSQL: {
    name: "MySql",
    class: "bg-gray-900 text-gray-200 ",
    icon: MySql,
  },
  CSS: {
    name: "Css",
    class: "bg-gray-900 text-gray-200 ",
    icon: Css,
  },
  JAVASCRIPT: { 
    name: "JavaScript",
    class: "bg-gray-900 text-gray-200 ",
    icon: JavaScript,
  },
  HTML: { 
    name: "HTML",
    class: "bg-gray-900 text-gray-200 ",
    icon: Html,
  },
};

const Porjects = [
  {
    tittle: "Aplicativo Movil de Gestor de dinero",
    description:
      "Un aplicacion de Gestion Financiero personal CoinControls. Se trabajo con una base de datos en la nube Firebase, graficos de estadisticas y un diseño de interfaz de usuario atractivo.",
    link: "#",
    github: "https://github.com/Christ-byte/ProyectoGestorTesteo",
    image: "./img/celularApk.webp",
    tags: [TAGS.JAVA, TAGS.ANDROID, TAGS.FIREBASE, TAGS.MYSQL],
  },
  {
    tittle: "Pagina web de Cifrados",
    description:
      "Una pagina web de cifrados y descifrados de mensajes, se utilizo el cifrado de Cesar, Vigenere. Ademas de un diseño de interfaz de usuario atractivo.",
    link: "#",
    github: "#",
    image: "./img/webCifrado.webp",
    tags: [TAGS.CSS, TAGS.JAVASCRIPT, TAGS.HTML],
  },
];
---

{
  Porjects.map(({ tittle, description, tags, image }) => (
    <article class="flex flex-col items-center  backdrop-blur-md   rounded-lg shadow md:flex-row md:max-w-5xl dark:border-gray-700 my-8">
      <img
        class="object-cover w-full rounded-t-lg md:h-auto md:w-96 md:rounded-sm md:rounded-s-lg "
        src={image}
        alt="Imagen de Proyecto"
      />
      <div class="flex flex-col justify-between p-4 leading-normal">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-green-200">
          {tittle}
        </h5>
        <p class="mb-3 font-normal text-gray-400 text-pretty">
          {description}
        </p>
        <ul class="flex gap-x-2 flex-row">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full  py-1 px-2 ${tag.class}`}
              >
                <tag.icon class="size-6" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>
      </div>
    </article>
  ))
}
